@{
    ViewData["Title"] = "Oliver Movie App";
}

<h2>Oliver Movie App</h2>

<p>Welcome to  Oliver Movie App!</p>
<p>In this App,you can find information about some movies</p>
<p>Feature Support</p>
<ul>
    <li>Create Movie</li>
    <li>View Movie Info</li>
    <li>Edit Movie Info</li>    
    <li>Search Movie </li>
    <li>Delete Movie</li>
</ul>>
<a href="/Movies">Click Here To View All Movie List</a>
